*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --rojo: #;
    --azul: #;
    --verde:#;
    --negro:  (#010108);
    --violeta: (#20115b);

}
.skew {
    position: absolute;
    bottom: 0px; /*arreglo responsive: -4*/
    left: 0;
    border-width: 0 0 10vh 100vw;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
}
.skew_contact{
    position: relative;
    bottom: 0px; /*arreglo responsive: -4*/
    left: 0;
    border-width: 0 0 10vh 100vw;
    border-style: solid;
    border-color: transparent transparent var(--body-bg-color) transparent;
}
p{
    font-family: 'Lato', sans-serif;
}
.mostrar{
    display: block !important;
}
.oculto, .ocultar{
    display: none !important;
}
/*-HEADER----------------------------------------------------------------------------------*/
.header_container{
    height: 3rem;
    width: 100%;
    padding: 10px; /*RESPONSIVE: 20px-40px*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    transition: transform 5s ease-in-out;
    z-index: 100;
    color: #fff;
}
.header_container.ocultar {
    transform: translateY(-100%);
    transition: transform 5s ease-in-out;
}
.header_on_page{
    background-color: rgba(0, 0, 0, 0.9);
}
.header_container h1{
    display: inline-block;
    font-size: 25px;
    font-family: 'Fjalla One', sans-serif;
}
/*-NAV-------------------------------------------------------------------------------------*/
/*.header_container nav a{
    display: inline-block;
    text-decoration: none;
    text-align: center;
    color: black;
    width: 8vw;
}*/
.menu-hamburguesa {
    display: flex;
    flex-direction: column;
    align-items: end;
}
.menu-hamburguesa .boton-hamburguesa {
    background: none;
    border: none;
    cursor: pointer;
}
.menu-hamburguesa .boton-hamburguesa .linea {
    display: block;
    width: 25px;
    height: 3px;
    margin-bottom: 5px;
    background-color: #fff;
    border-radius: 3px;
}
.menu-hamburguesa .menu {
    display: none;
    list-style: none;
    position: absolute;
    top: 3rem;
    right: 0;
}
.menu-hamburguesa .menu a {
    display: block;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    text-decoration: none;
    width: 100%;
}
/*-MAIN/INICIO------------------------------------------------------------------------------------*/
#inicio .container_inicio{
    height: 100vh;
    background-color: grey;
    background-image: url(./imagenes/971.jpg);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
}
#inicio .container_inicio .effect_opacity{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}
#inicio .container_inicio .effect_opacity .info-banner{
    position: relative;
    width: 60%;
    margin: auto;
    top: 25vh; /*RESPONSIVE: left: 20%; top: 20%;*/
    height: 100vh;
    color: #fff;
}
#inicio .container_inicio .effect_opacity .info-banner h6{
    font-family: 'Fjalla One', sans-serif;
    font-size: 40px;
    margin:0 auto 5px;
    text-align: center;
}
#inicio .container_inicio .effect_opacity .info-banner p{
    margin-top: 10px;
    font-size: 18px;
    text-align: center;
    font-weight:600
}
#inicio .container_inicio .effect_opacity .info-banner .container-buttons{
    display: flex;
    justify-content: space-between;
}
#inicio .container_inicio .effect_opacity .info-banner .container-buttons .button-banner{
    display: inline-block;
    padding: 8px 10px;
    background-color: red;
    text-align: center;
    margin: 20px 3px;
    width: 100px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
/*-MAIN/CONTENIDO GENERAL------------------------------------------------------------------------------------*/
.general_container{
    width: 100%; /*ajustable responsive*/
    margin: 15px auto;
    z-index: 99;
}
.general_container h2{
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 35px;
    letter-spacing: 1px;
}


/*-MAIN/MAQUETAS------------------------------------------------------------------------------------*/
#maquetas{
    background-color: #fff;
}
.container_designs{
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
}
.container_content{
}
.design{
    margin: 0 auto;
    display: inline-block;
    width: 100%; /*ajustable responsive: 300px*/
    height: auto; /*ajustable responsive: 250px*/
}
.design img{
    width: auto;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    border-radius: 4px;
    object-fit: contain;
}
.oculto {
    display: none;
}


/*-MAIN/MODAL ABIERTO------------------------------------------------------------------------------------*/
body {
    overflow: auto !important;
  }
.modal{
    --bs-modal-padding: 0.2rem;
}
.modal .modal-dialog .modal-content .modal-header{
    justify-content: center;
}
.modal .modal-dialog .modal-content .modal-header .btn-close{
    position: absolute;
    right: 0;
    margin-right: 5px
}
.modal .modal-dialog .modal-content .modal-header .modal-title{
    text-align: center;
}
.modal .modal-dialog .modal-content .modal-body{}

.modal .modal-dialog .modal-content .modal-body div img{
    width: 100%;
}
.modal .modal-dialog .modal-content .modal-body div h6{
    margin: 10px 0 0 0;
    display: inline-block;
}
.modal .modal-dialog .modal-content .modal-body div #modal-descripcion{
    font-size: 15px;
    color: darkgrey;
    font-weight: 100;
}
.modal .modal-dialog .modal-content .modal-body div #modal-precio{
    display: inline-block;
}


/*BOTON VER MAS Y SUS ANIMACIONES*/
:root { /*ignorar*/
    --body-bg-color: #1a1c1d;
    --text-color: #aaaebc;
    --hr-color: #26292a;
    --transition-duration: 0.3s;
    --transition-delay: 0.2s;
    --red: #e74c3c;
  }
  ul {
    list-style: none;
  }
  a {
    color: #fff; /*COLOR DEL TEXTO DEL BOTON*/
    text-decoration: none;
    background: green;
    border: 1px solid var(--body-bg-color);
  }
  .contenedorbutton {
    display: flex;
    justify-content: center;
  }
  .contenedorbutton button {
    margin-right: 70px;
  }
  .contenedorbutton a {
    position: relative;
    display: block;
    padding: 10px;
  }
  .contenedorbutton .border {
    position: absolute;
    left: 0;
    background: currentColor;
    transition: transform var(--transition-duration) ease-in-out;
  }
  .contenedorbutton .border-top,
  .contenedorbutton .border-bottom {
    width: 100%;
    height: 1px;
    transform: scaleX(0);
  }
  .contenedorbutton .border-left,
  .contenedorbutton .border-right {
    width: 1px;
    height: 100%;
    transform: scaleY(0);
  }
  .contenedorbutton .border-top,
  .contenedorbutton .border-left,
  .contenedorbutton .border-right {
    top: 0;
  }
  .contenedorbutton .border-bottom {
    bottom: 0;
    transform-origin: bottom right;
  }
  .contenedorbutton .border-top {
    transform-origin: top left;
  }
  .contenedorbutton .border-left {
    transform-origin: bottom left;
  }
  .contenedorbutton .border-right {
    left: auto;
    right: 0;
    transform-origin: top right;
  }
  .contenedorbutton a:hover .border-top,
  .contenedorbutton a:hover .border-bottom {
    transform: scaleX(1);
  }
  .contenedorbutton a:hover .border-left,
  .contenedorbutton a:hover .border-right {
    transform: scaleY(1);
  }
  .contenedorbutton a:hover .border-right {
    transition-delay: var(--transition-delay);
  }
  .contenedorbutton a:hover .border-bottom {
    transition-delay: calc(var(--transition-delay) * 2);
  }
  .contenedorbutton a:hover .border-left {
    transition-delay: calc(var(--transition-delay) * 3);
  }
  /* ANIMATIONS
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .contenedorbutton[data-animation="diagonal"] .border-left {
    transform-origin: top left;
  }
  .contenedorbutton[data-animation="diagonal"] .border-right,
  .contenedorbutton[data-animation="diagonal"] .border-bottom {
    transform-origin: bottom right;
  }
  .contenedorbutton[data-animation="diagonal"] a:hover [class^=border]{
    transition-delay: 0s;
  }
/*-MAIN/INFO------------------------------------------------------------------------------------*/
#contacto{
    background: var(--body-bg-color);
    padding: 50px 0;
}
#form_container {
    display: grid;
    grid-template-columns: 1fr; /*RESPONSIVE: 2fr , 1fr*/
    width: 100%; /*responsive*/
    margin: 0 auto;
    border: 7px solid #000;
    border-radius: 20px;
    padding: 10px; /*responsive*/
    background: #fff;
}
.contact-container {
    width: 100%; /*responsive*/
    padding: 20px;
}
.info-container {
    padding: 20px;
}
h2 {
    font-size: 24px;
    margin-top: 0;
}
input,textarea{
    display: block;
    width: 100%; /*responsive*/
    padding: 10px;
    margin-top: 25px;
    border: none;
    border-bottom: 2px solid #000;
}::placeholder{
    color: rgba(0, 0, 0, 0.8);
}
input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}
input[type="submit"]:hover {
background-color: #3e8e41;
}
.info-container h2{
    margin-bottom: 15px;
}
.info-container p {
margin-bottom: 15px;
}

/*-ASIDE-----------------------------------------------------------------------------------*/
/*-FOOTER----------------------------------------------------------------------------------*/
footer{
    background: #333;
    padding: 10px;
    color: #fff;
}
/*-DISEÑO RESPONSIVE----------------------------------------------------------------------------------*/
@media (min-width:470px) {
    .skew{
        bottom: 0;
    }
    .container_designs{
        grid-template-columns: 1fr 1fr;
    }
    
}
@media (min-width:820px) {
    .container_designs{
        grid-template-columns: 1fr 1fr 1fr;
    }
    
}
/**********************************************/
